<div class="profile">
  <div class="profile__avatar" style=<%= "background-image:url(#{@user.image_url});" %>></div>
  <div class="profile__name"><%= @user.name %></div>
  <div class="profile__fotons">
    <span class="profile__fotons-count"><%= @user.fotons.count %></span> <%= @user.fotons.count == 1 ? 'foton' : 'fotons' %>
  </div>
</div>
<%= render 'shared/foton_bord', current_user_bord: true %>
