<div class="modal">
  <div class="modal__inner">
    <button class="modal__dismiss"><i class="fa fa-times"></i></button>
    <div class="new-foton">
      <div class="new-foton__label">Add new Foton</div>
      <%= form_for(@foton, remote: true, html: { class: 'form' }) do |f| %>
        <div class="form__group">
          <%= f.label :source, class: 'form__label' %>
          <%= f.text_field :source, class: 'form__input', placeholder: 'https://...' %>
        </div>
        <div class="new-foton__previewer new-foton__previewer--no-source"></div>
        <div class="form__group">
          <%= f.label :caption, 'Caption (max. 140 characters)', class: 'form__label' %>
          <%= f.text_area :caption, class: 'form__text', maxlength: 140, rows: 4 %>
        </div>
        <div class="form__group">
          <%= f.submit 'Add Foton', class: 'button button--primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
